<div id="body" ng-controller="controllerForgot">
	<div id="container">
		<h1>Forgot Password</h1>
		<div id="body">
			<div id="body">
				<label>Enter your email</label>
				<input id="code" ng-model="email" type="email" name="email" value="" required />

			</div>
			<div id="body">
				<input id="code" ng-click="forgot()" type="submit" name="forgot" value="forgot" />
				<a href="#/register"><input id="code" type="button" name="register" value="Regiser" /></a>{{message}}
			</div>

		</div>
	</div>

</div>