<div id="body" ng-controller="controllerResetPassword">
    <div id="container">
        <h1>ResetPassword</h1>
        <div id="body">
            <div id="body">
                <label>Enter new password</label>
                <input id="code" ng-model="password" type="password" name="password" value="" required />
            </div>
            <div id="body">
                <label>Confirm password</label>
                <input id="code" ng-model="cpassword" type="password" name="cpassword" value="" required />
            </div>
            <div id="body">
                <input id="code" ng-click="reset()" type="submit" name="reset" value="Reset" />
                {{message}}
            </div>
        </div>
    </div>
</div>